<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
<div id="footer" th:fragment="footerMain">
    <footer class="main-footer">

        <div class="container">

            <div class="row">

                <!-- CỘT 1 -->
                <div class="col-md-3">

                    <h5>Hệ thống thực tập</h5>

                    <p>
                        Hệ thống quản lý thực tập giúp sinh viên, giảng viên và doanh nghiệp
                        kết nối với nhau trong quá trình thực tập tốt nghiệp.
                    </p>

                    <div class="social">

                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-youtube"></i>
                        <i class="bi bi-github"></i>
                        <i class="bi bi-linkedin"></i>

                    </div>

                </div>


                <!-- CỘT 2 -->
                <div class="col-md-3">

                    <h5>Liên kết nhanh</h5>

                    <ul>

                        <li>Trang chủ</li>
                        <li>Giấy giới thiệu</li>
                        <li>Báo cáo tuần</li>
                        <li>Nộp báo cáo</li>
                        <li>Khảo sát</li>

                    </ul>

                </div>


                <!-- CỘT 3 -->
                <div class="col-md-3">

                    <h5>Tài nguyên</h5>

                    <ul>

                        <li>Hướng dẫn thực tập</li>
                        <li>Biểu mẫu</li>
                        <li>Quy định thực tập</li>
                        <li>Câu hỏi thường gặp</li>

                    </ul>

                </div>


                <!-- CỘT 4 -->
                <div class="col-md-3">

                    <h5>Liên hệ</h5>

                    <ul>

                        <li><i class="bi bi-geo-alt"></i> Hà Nội, Việt Nam</li>
                        <li><i class="bi bi-envelope"></i> internship@university.edu</li>
                        <li><i class="bi bi-telephone"></i> 0123 456 789</li>

                    </ul>

                </div>

            </div>

            <hr>

            <div class="copyright">

                © 2026 Internship Management System - All Rights Reserved

            </div>

        </div>

    </footer>
</div>
</body>
</html>