<!DOCTYPE html>
<html lang="vi">
<head>
    <link rel="icon" type="image/x-icon" href="/image/logo.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    
    <link rel="stylesheet" href="../../css/styleadmin.css">
    <script src="../../admin/js/main.js"></script>
    <script src="../../admin/js/request.js"></script>
    <script src="../../admin/js/blog.js"></script>
    <script>
        window.onload =async function() {
            await loadCategorySelect();
            loadABlog();
        }
    </script>
</head>
<body>

<div id="sidebar"></div>

<header id="top-header"></header>

<div id="main-content">
    <div class="card border-0 shadow-sm p-4">
        <h5 class="fw-bold mb-4">Thêm mới tin tức</h5>
        <div id="userForm">

            <div class="row g-3">
                <div class="col-md-5">
                    <div class="col-md-12">
                        <div class="form-floating form-add-user">
                            <input class="form-control" id="title" placeholder="Tiêu đề">
                            <label>Tiêu đề</label>
                        </div>
                    </div>
                    <div class="col-md-12 form-add-user">
                        <div class="form-floating form-add-user">
                            <select class="form-select" id="category">
                        </select>
                        </div>
                    </div>
                    <div class="form-floating form-add-user">
                        <textarea class="form-control" id="description" rows="6" placeholder="Tiêu đề" style="height: 150px"></textarea>
                        <label>Mô tả</label>
                    </div>
                    <div class="col-md-12 form-add-user">
                        <div class="row">
                            <div class="col-sm-6">
                                <button class="btn btn-primary form-control" onclick="document.getElementById('fileanhdaidientl').click();">
                                    <i class="fa fa-upload"></i> Chọn ảnh
                                </label>
                                <input onchange="chooseAvatar()" type="file" hidden id="fileanhdaidientl">
                            </div>
                            <div class="col-sm-6">
                                <img style="width: 100px;" id="imgpreview">
                            </div>
                        </div>
                    </div>
                    <input class="form-control" id="image" type="hidden">
                </div>
                <div class="col-sm-7">
                    <textarea id="editor" name="content"></textarea>
                </div>
            </div>
            <hr>
            <button onclick="saveBlog()" id="btn-submit" class="btn btn-primary">Lưu tin tức</button>
        </div>
    </div>
</div>

<script src="https://cdn.tiny.cloud/1/ki9cw4sa3ezsjymcgc1p2vpztcc01ou0ctbtjtqbin07c68z/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: 'textarea#editor', // Chọn textarea có id là 'editor'
    // Tăng cường các plugin để hỗ trợ nhiều chức năng hơn
    plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak ' +
            'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking ' +
            'table emoticons template paste codesample help',
    // Định nghĩa các nút trên thanh công cụ. Chia thành nhiều dòng để dễ quản lý.
    toolbar: 'undo redo | blocks | ' + // Hoàn tác, làm lại, và định dạng khối (Heading 1, 2, Paragraph,...)
            'bold italic underline strikethrough | forecolor backcolor | ' + // Định dạng chữ: đậm, nghiêng, gạch chân, gạch ngang, màu chữ, màu nền
            'alignleft aligncenter alignright alignjustify | outdent indent | ' + // Căn lề, lùi dòng
            'numlist bullist | link image media table | ' + // Danh sách số, danh sách dấu chấm, chèn liên kết, ảnh, video, bảng
            'charmap emoticons | fullscreen code preview | help', // Ký tự đặc biệt, biểu tượng cảm xúc, chế độ toàn màn hình, xem trước, mã nguồn, trợ giúp
    height: 600, // Tăng chiều cao của trình soạn thảo
    menubar: 'file edit view insert format tools table help', // Hiện thêm menu bar ở trên cùng
    images_upload_handler: async function (blobInfo, success, failure) {
      const formData = new FormData();
      formData.append('file', blobInfo.blob(), blobInfo.filename());

      const res = await fetch('http://localhost:8080/api/public/upload-file', {
        method: 'POST',
        body: formData
      });
      if (res.status < 300) {
        var linkImage = await res.text();
        success(linkImage);
      }
    }
  });
</script>
</body>
</html>